*{
    box-sizing: border-box;
}
#heading{
    text-align: center;
}
h1{
    margin-top: 15px;
}
p{
    text-align: center;
    height: 150px;
    margin: auto;
    font-family: Helvetica;
    color:black;
}

#container{
    width: 100%;
}
.title1,.title2,.title3 {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    width: 20%;
    min-width: 100px;
    text-align: center;
    float: right;
    margin-bottom: 10px;
}
.title1{
    background-color: #d59898;
}
.title2{
    background-color: #c14543;
    color: white;
}
.title3{
    background-color: #e5d198;
}
.content{
    clear: both;
}
/*for large devices with more the 992px of width*/
@media(min-width: 992px)
{
    .col-lg
    {
        margin: 10px;
        background-color: grey;
        border: 2px solid black;
        width: 31%;
        float: left;
    }
}

/* for devices between 767 and 992px width*/

@media(min-width: 768px) and ( max-width:991px){
    .col-md-6,.col-md-12{
        float: left;
        margin: 10px;
        background-color: grey;
        border: 2px solid black;
    }
    .col-md-6{
        width: 45%;
    }
    .col-md-12{
        width: 92.2%;
    }
}

/*for devices less that 767 px*/
@media(max-width:766px) {
    .col-sm{
        flex:left;
        margin: 10px;
        background-color: grey;
        border: 2px solid black;
    }
}